@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: 'Bad Script', cursive;
  color: #A020F0;
  margin: 0;
  
}


h2 {
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #DA70D6;
  margin: 0;
}



#logo {
  float: left;
  font-size: 280%;
  line-height: 75px;
  margin: 0;
}

#menu {
  font-size: 150%;
  list-style-type: none;
  letter-spacing: 4px;
  line-height: 75px;
  margin: 0;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #DA70D6 ;
}

#menu a:hover {
  border-bottom: 2px solid #89CFF0;
}

.active {
  border-bottom: 2px solid #89CFF0;
}

#code-image {
  height: 600px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") repeat center center;
}

#code-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#cover-text, #cover-text {
  color: #A020F0 
}

#cover-text {
  font-size: 130%;
  font-family: bad script;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(0, 0, 0, .7);

  bottom: 30px;
  right: 150px;

  position: absolute;
}

#knowledge {
  height: 600;
}

#left-about {
    left: 50px;
    position: center;
   
}

#right-about {
  left: 50px;
  position: center
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #89CFF0;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}

.right-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
}

.right-about-heading h2 {
  text-align: center;
}

.right-about-heading p {
  text-align: center;
  font-size: 102%;
  line-height: 20px;
}



#welcome {
  margin: 20px 0;
  text-align: center;
  text-size: 280%;
}


#codes-image {
  height: 900px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: no-repeat;
  background-size: cover;
}

#symbols {
background-image: url("https://plus.unsplash.com/premium_photo-1675802520884-45ad9a50c2c9?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
}

#symbols div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 17%;
    height: 70px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 7px;
}

#symbols h2 {
  text-align: center;
  font-size: 20px;
}

#times h2 {
    color: #fafafa;
}

footer {
  height: 90px;
}

.sm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  list-style: none;
}

.sm li {
  display: inline;
}

.sm i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  
}

#projects-image {
  height: 600px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: repeat;
  background-size: cover;
}

.left-about-headings {
  width: 60%;
  float: left;
  line-height: 15px;
  clear: both;
  height: 300px;
  margin-top: 50px;
 
  text-align: center;
}

.right-about-headings {
  width: 60%;
  float: right;
  line-height: 11px;
  clear: both;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}



.center-about-heading h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}



#contactme-image {
  height: 50px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: repeat;
  background-size: cover;
}

#contact {
    margin-bottom: 50px;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

form {
  margin-top: 2rem;
  text-align: center;
}

#symbols-projects {
background-image: url("https://plus.unsplash.com/premium_photo-1675802520884-45ad9a50c2c9?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
}

#symbols-projects div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 17%;
    height: 70px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 4px;
}

#symbols-projects h2 {
  text-align: center;
  font-size: 20px;
}

#symbols-contactme {
background-image: url("https://plus.unsplash.com/premium_photo-1675802520884-45ad9a50c2c9?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
}

#symbols-contactme div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 23%;
    height: 70px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 7px;
}


  @media screen and (max-width: 1200px){
      #knowledge{
          width: 65%;
          height: 1200px;
          margin: 0 auto;
      }

      #welcome {
          padding: 30px 0;
          margin-top: 0;
      }

      #left-about, #right-about {
          width:100%;
          float:left;
          padding: 0;
      }

      #center-about{
          clear: both;
          width: 100%;
          float: left;
          padding: 0;
      }

      #times div {
          width: 100%;
          clear: both;
          height: 150px;
          border-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: #fff; 
          padding: 0;
      }
    #symbols h2 {
         text-align: center;
         font-size: 10px;
       }

    #symbols div {
        height: 50px;
        margin-left: 20px;
    }
  }

  @media screen and (max-width: 943px){

      #menu{
          clear: left;
          float: left;
          margin-left: 30px; 
          margin-bottom: 20px;
          line-height: 25px;
      }

      #cover-text {
          left:0px;
      }

      #knowledge {
          width:90%;
          height: 1200px;
          margin: 0 auto;
      }

      .left-about-heading, .right-about-heading{
          width: inherit;
      }

      .left-about-heading h2, .right-about-heading h2{
          width: 100%;
          text-align: center;
      }

      .left-about-heading p, .right-about-heading p{
          text-align: center;
          padding: 0 20px 0 20px;
      }

     #symbols h2 {
         text-align: center;
         font-size: 15px;
       }

    #symbols div {
        height: 50px;
        margin-left: 20px;
        float: left;
    }
     }

@media screen and (max-width: 480px){

  #menu{
      clear: left;
      float: left;
      margin-left: 30px; 
      margin-bottom: 20px;
      line-height: 25px;
  }

  #cover-text {
      left:0px;
  }

  #knowledge {
      width:90%;
      height: 1200px;
      margin: 0 auto;
  }

  .left-about-heading, .right-about-heading{
      width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2{
      width: 100%;
      text-align: center;
  }

  .left-about-heading p, .right-about-heading p{
      text-align: center;
      padding: 0 20px 0 20px;
  }

 #symbols h2 {
     text-align: center;
     font-size: 8px;
   }

#symbols div {
    height: 40px;
    margin-left: 9px;
}
 }




@media screen and (max-width: 1200px){
  #projects{
      width: 65%;
      height: 1200px;
      margin: 0 auto;
  }

  #welcome {
      padding: 30px 0;
      margin-top: 0;
  }

  #left-about, #right-about {
      width:100%;
      float:left;
      padding: 0;
  }

  #center-about{
      clear: both;
      width: 100%;
      float: left;
      padding: 0;
  }

  #times div {
      width: 100%;
      clear: both;
      height: 150px;
      border-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #fff; 
      padding: 0;
  }
#symbols-projects h2 {
     text-align: center;
     font-size: 10px;
   }

#symbols-projects div {
    height: 50px;
    margin-left: 20px;
}
}

@media screen and (max-width: 943px){

  #menu{
      clear: left;
      float: left;
      margin-left: 30px; 
      margin-bottom: 20px;
      line-height: 25px;
  }

  #cover-text {
      left:0px;
  }

  #projects {
      width:90%;
      height: 1200px;
      margin: 0 auto;
  }

  .left-about-headings, .right-about-headings{
      width: inherit;
  }

  .left-about-headings h2, .right-about-headings h2{
      width: 100%;
      text-align: center;
  }

  .left-about-headings {
    width: 60%;
    float: left;
    line-height: 15px;
    clear: both;
    height: 300px;
    margin-top: 50px;
    text-align: center;
  }

 #symbols-projects h2 {
     text-align: center;
     font-size: 15px;
   }

#symbols-projects div {
    height: 50px;
    margin-left: 20px;
    float: left;
}
 }

@media screen and (max-width: 480px){

#menu{
  clear: left;
  float: left;
  margin-left: 30px; 
  margin-bottom: 20px;
  line-height: 25px;
}

#cover-text {
  left:0px;
}

#projects {
  width:90%;
  height: 1200px;
  margin: 0 auto;
}

.left-about-headings, .right-about-headings{
  width: inherit;
}

.left-about-headings h2, .right-about-headings h2{
  width: 100%;
  text-align: center;
}

.left-about-headings p, .right-about-headings p{
  text-align: center;
  padding: 0 20px 0 20px;
}

#symbols-projects h2 {
 text-align: center;
 font-size: 8px;
}

#symbols-projects div {
height: 40px;
margin-left: 9px;
}
}